.backgroundImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
// placeholder (KHONG DUOC BIEN DICH RA CSS)  
// %backgroundImg{
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }   